<div>
    <Div class="divbox">
      <label>Enter your name: </label>
      <input class="textboxColor" type="text" placeholder="name here" [(ngModel)]="nameEntry" >
    </Div>
    <Div class="divbox">
        <label for="colors">Choose a color:</label>
        <select class="two-em-space">
          <option>Red</option>
          <option>Cyan</option>
          <option>Blue</option>
        </select>
    </Div>
    <Div class="divbox">
      <label>Your name is: </label>
      <span>{{nameEntry}}</span>
    </Div>    
  </div>
  